<%-include('./partials/header.ejs')%>

<main >
  <div class="menuThree" >
    <h2>Editar Produto</h2>
    <form  action="/produtos/editar/<%=produto.id%>?_method=PUT" method="post">
  
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="produto.nome" name="nome" value="<%=produto.nome%>" />
    </div>
    <div class="form-group">
      <label for="Preco">Preco:</label>
      <input type="text" id="produto.preco" name="preco" value="<%=produto.preco%>" />
    </div>
    </div>
    <div class="form-group">
      <label for="id_categorias">Categoria:</label>
      <input type="text" id="produto.id_categorias" name="id_categorias" value="<%=produto.id_categorias%>" />
    </div>
    <div class="buttonSalvar" >
      <button type="submit">Salvar</button>
      <a href="/">Cancelar</a>
    </div>
  </div>
  </form>
</main>

<%-include('./partials/footer.ejs')%>