<%-include('./partials/header.ejs')%>

<main class="listaOne">
  <section class="menuOne">
<div class="coluna" >
  <h3>ID</h3>
  <h3>Nome</h3>
  <h3>Preco</h3>
  <h3>Categorias</h3>

</div>

    <a href="/produtos/editar" class="btnOne">Criar</a>
  </section>

  <% produtos.forEach(produto => { %>
  <div>
    <section class="buttonOne">
      <div class="row">
        <div class="item"><h3><%= produto.id %></h3></div>
        <div class="item"><h3><%= produto.nome %></h3></div>
        <div class="item"><h3><%= produto.preco %></h3></div>
        <div class="item"><h3><%= produto.id_categorias %></h3></div>
      </div>
      <span>
        <a  class="btn" href="/produtos/editar/<%=produto.id%>">
          <span>Editar</span>
        </a>
      </span>

      <span class="item">
        <form action="/produtos/<%=produto.id%>?_method=DELETE" method="post">
          <button type="submit"><span>Deletar</span></button>
        </form>
      </span>
    </section>
  </div>
  <% }) %>
</main>

<%-include('./partials/footer.ejs')%>

<!-- express nomeProjeto --ejs -->
